* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}

:root {
    --header-footer-banner: hsl(0, 25%, 5%);
}

body {
    text-align: center;
    background: hsl(0, 0%, 4%);
}

h1 {
    color: white;
    font-size: 3rem;
}

h2 {
    color: darkgray;
    font-size: 2rem;
}

p {
    color: dimgray;
    line-height: 2;
    font-size: 1.5rem;
}

.grid {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "info"
        "footer";
}

header {
    grid-area: header;
    height: 75px;
    background: var(--header-footer-banner);
}

header a{
    text-decoration: none;
}

nav ul {
    display: flex;
    height: 75px;
    width: auto;
}

nav li {
    height: 50px;
    min-width: 50px;
    flex-grow: 1;
    list-style-type: none;
    align-self: center;
}

main {
    grid-area: main;
    background-image: url(resources/jnamiller.com-background4.png);
    height: auto;
    background-size: cover;
}

main img{
    border-radius: 50%;
    height: 16rem;
    width: 16rem;
    position: relative;
    top: -2rem;
}

.about-box {
    height: 300px;
    width: 50%;
    margin: 25px auto;
    padding: 3rem;
    background-color: hsla(0, 0%, 10%, 0.9);
}

section {
    grid-area: info;
}

.nested-grid{
    display: grid;
    width: 100%;
    margin-top: 75px;
    grid-gap: 75px;
    grid: repeat(2, auto) / repeat(2, auto);
    grid-template-areas: 
        "skills contact";
}

.box {
    height: 300px;
    width: 500px;
    background: hsl(0, 0%, 7%);
    border-radius: 5%;
    justify-self: center;
    padding: 30px;
}

.skills{
    grid-area: skills;
    justify-self: right;
}

.contact{
    grid-area: contact;
    justify-self: left;
}

.contact h2 {
    text-align: left;
    margin-top: 25px;
}

footer {
    grid-area: footer;
    height: 75px;
    background: var(--header-footer-banner);
    padding: 25px;
}

footer p {
    font-size: 1rem;
}