* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}

:root {
    --header-footer-banner: hsl(0, 25%, 5%);
}

body {
    text-align: center;
    background: hsl(0, 0%, 4%);
}

.grid {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "info"
        "footer";
}

header {
    grid-area: header;
    height: 75px;
    background: var(--header-footer-banner);
}

nav ul {
    display: flex;
    height: 75px;
    width: auto;
}

nav li {
    height: 50px;
    min-width: 50px;
    flex-grow: 1;
    list-style-type: none;
    align-self: center;
}

main {
    grid-area: main;
    background-image: url(resources/jnamiller.com-background4.png);
    height: 500px;
    background-size: cover;
}

section {
    grid-area: info;
}

.nested-grid{
    display: grid;
    width: 100%;
    margin-top: 75px;
    grid-gap: 75px;
    grid: repeat(2, auto) / repeat(2, auto);
    grid-template-areas: 
        "skills contact";
}

.box {
    height: 400px;
    width: 500px;
    background: hsl(0, 0%, 7%);
    border-radius: 10%;
    justify-self: center;
    padding: 30px;
}

.skills {
    grid-area: skills;
}

.skills .contact, p {
    margin-top: 25px;
    font-size: 2rem;
    line-height: 2;
}

.blog {
    font-size: 2rem;
}

.contact{
    grid-area: contact;
}

.skills{
    justify-self: right;
}

.contact{
    justify-self: left;
}

.skills, .contact h1 {
    font-size: 2rem;
}

footer {
    grid-area: footer;
    height: 75px;
    background: var(--header-footer-banner);
}